.Influencers_main{
display: flex;
align-items: center;
}

.Influencers_main>h1{
  margin-top: 70px;
}

form.Influencers_form input[type=text] {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
.Influencers_form{
    display: flex;
    flex-direction: row;
}
.Influencers_input{
    max-width: 300px;
    
}

.Influencers_search{
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-left: 570px;
    
}

.Influencers_searchicon{
    color:  white !important;
    background-color:  #001064 !important;

}

.Influencers_button{
    margin-top: 45px !important;
    margin-left: 10px !important;
    color:  white !important;
    background-color:  #001064 !important;


}

.Influencers_upload{
    margin-top: 45px !important;
    margin-left: 10px !important;


}
.Influencers_table{
    background-color:  #001064 !important;
    color: white !important;
}

table{
    border-radius: 36px !important;
}