.wrapper{
  width: 100% !important;
  height: 100vh!important;
  background-color: #001064 !important ;
  border-radius: 60px !important;
  display: flex !important;
}
.wrapper_left{
  width: 10% !important;
  color: white !important;
  text-align: center !important;
  background-color: #001064 !important ;
  border-radius: 60px !important;



}
.wrapper_tab{
  margin-top: 100px !important;

}
.wrapper_h1{
  font-weight: 300!important;
margin-left: 20px;
margin-top: 50px;
margin-bottom: 40px;
}
.wrapper_right{
  height: 98%;
  width: 89%;
  border-radius: 60px;
  margin: auto;
  background-color: rgb(238, 229, 229);
  
}
.wrapper_logout{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  margin-top: 300px;
}